flask
flask-admin
Flask-BabelEx
flask-cors
sqlalchemy==1.3.23
flask_script
flask-migrate
flask-sqlalchemy
flask-restx
tablib
sqlalchemy_utils
arrow
colour
email_validator
pymongo
pymysql
flask-login
gunicorn
oauthlib
requests
boto3
jsonformatter