flask<2.0.0
flask-admin
Flask-BabelEx
flask-cors
sqlalchemy==1.3.23
flask_script
flask-migrate
flask-sqlalchemy
flask-restx
flask-ipban
tablib
sqlalchemy_utils
arrow
colour
email_validator
pymongo
pymysql
flask-login
gunicorn
oauthlib
requests
boto3
jsonformatter
kafka-python
elasticsearch>=7.0.0<8.0.0